<div class="modal-backdrop" (click)="onClose()"></div>
<div class="modal"  role="dialog" aria-modal="true">
  <button class="close-btn" (click)="onClose()" aria-label="Cerrar modal">✕</button>
  <div *ngIf="movie" class="modal-content">
    <img [src]="movie.image" [alt]="'Poster de ' + movie.title" class="modal-image">
    <div class="modal-details">
      <h2>{{ movie.title }}</h2>
      <div class="modal-meta">
        <p class="movie-duration">
        <img src="assets/icons/icon_time.svg" alt="icono de reloj" class="icon-time">
        {{ movie.duration }}</p>
        <p class="movie-rating"> 
          <img src="assets/icons/icon_star.svg" alt="icono de estrella" class="icon-star">
          {{ movie.rating }}</p>
      </div>
      <p class="movie-description">{{ movie.description }}</p>
    </div>
  </div>
</div>
