<footer>
  <div class="footer-column">
    <div class="container-logo">
      <span class="logo-footer">MovieApp</span>
    </div>
    <nav class="footer-nav" aria-label="Navegación principal">
      <span>Navegacion</span>
      <a routerLink="/movies" aria-label="Ir a películas">Películas</a>
      <a routerLink="/ejercicios" aria-label="Ir a ejercicios">Ejercicios</a>
      <a routerLink="/episodios" aria-label="Ir a episodios">Episodios</a>
    </nav>
    <p>🎬 La mejor app de películas</p>
  </div>
    <p class="copyright">{{ textoFooter }}</p>
</footer>
